@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}

.background_black {
    background: rgb(0,0,0);
}

.container {
    max-width: 1440px;
    margin: 0 auto  ;
}

.wide {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 27px 147px ;
    max-width: 1160px;
    max-height: 90px;
    background: rgb(18,18, 18);
}

.header_nav {
    float: right;
    min-width: 700px;
}

.header_nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header_nav a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}

.header_nav li.btn a{
    color: #000;
    font-size: 16px;

    background-color: #FFF;
    padding: 11px 20px;
    border-radius: 14px;
}

.hero {
    max-width: 1440px; 
    min-height: 600px; 
    margin: auto;
    background-image: url("/img/IMAGE.svg");
    background-repeat: no-repeat;
    background-position: center; 

    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;
}

.hero_info {
    max-width: 600px;
}

.hero_info  h2 {
    margin-top: 20px;

    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #c0c0c0;
}

.hero_info h1 {
    margin-top: 1px;

    font-weight: 400;
    font-size: 54px;
    line-height: 59.4px;
    letter-spacing: 0%;
    text-align: center;
}

.hero_info p {
    margin-top: 18px;

    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #c0c0c0;
}

.hero_stat {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-bottom: 3%;
}
.hero_stat ul {
    font-size: 12px;
    display: flex;
    justify-content:end;
    margin-right: 80px;
}
.hero_stat img {
    margin-left: 15px;
    margin-right: 6px;
    top: 3px;
    right: 3px;
}

.block2 {
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: auto;
    padding-right: auto;
    
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.block2_head {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    
}

.block2_head h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0%;
}

.block2_head p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #c0c0c0;
}

.block2_body {
    max-width: 1168px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 16px;
}

.block2_1 {
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;

    min-width: 576px;
    background-image: url(/img/body2_1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.block2_2 {
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;
    
    min-width: 576px;
    background-image: url(/img/body2_2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.block2_3 {
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;
    
    min-width: 576px;
    background-image: url(/img/body2_3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.block2_4 {
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: flex-end;
    
    min-width: 576px;
    background-image: url(/img/body2_4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.block2_text {
    max-width: 513px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.block2_body h2{
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.block2_body h1{
    margin-bottom: 10px;
    max-width: 513px;
    color: #c0c0c0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.block2_body a {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;

    background-color: #FFF;
    padding: 11px 20px;
    border-radius: 14px;

    margin-bottom: 20px;
}
.block2_body a img {
    position: relative;
    top: 10px;
    left: -7px;
}


.block3{
    max-width: 1440px;  
    min-height: 600px; 

    margin: auto;
    background-image: url("/img/block3.svg");
    background-repeat: no-repeat;
    background-position: center;
    
    display: grid;
}

.block3_txt{
    max-width: 300px;
    position: relative;
    top: 80%;
    left: 75%;
}

.block3_txt h1{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.block3_txt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #c0c0c0;
}

.block3_stat {
    place-self: end;

    font-size: 12px;
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-bottom: 3%;
}
.block3_stat img {
    padding-left: 15px;
    padding-right: 5px;
    position: relative;
    left: 3px;
}